
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start styling */
html{
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    margin: 20px 50px 20px 50px; 
}

body {
  background-color: #3AAFA9;
  color: #17252A;
}

a:hover {color: #EDF5E1;}

/* Nav */



nav {
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */

}

a {
  text-decoration: none;
  display: block;
  position: relative;
  padding: 0.2em 0;
  color: #17252A;
  font-weight: 600;
}

.nav_links{
  list-style: none;
}

.nav_links li{
  display: inline-block;
  padding: 0.5em 0.7em;
}

.nav_links li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #EDF5E1;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.nav_links li a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.nav_links li a:hover::after,
.nav_links li a:focus::after{
  transform: scale(1);
}

.logo {
  font-family: 'Shrikhand', cursive;
  font-size: 2em;
  color: #FEFFFF;
  margin-left: 25px;
}

a.logo:hover{
  color: #FEFFFF;
  text-shadow: 2px 2px 4px black;
}

/* Intro Page */
section.Home{
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
} 


/* about page */
#AboutPic{
  border: 0.5em solid white;
  margin-top: 20px;
  width: 60%;
  height: auto;
}

section.About{
  font-size: 1em;
}

ul.Education{
  list-style-type: square;
  padding: 1em;
  font-size: 1.1em;
  line-height: 1.2;
}

/* Experience page*/
div.Experience{
  max-width: 45rem;
}

h1{
  border-bottom: 2px solid currentColor;
  padding-bottom: 5px;
  margin-top: 30px;
  display: inline;
}

h1, h2{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5em;
  color: #EDF5E1;
}

h3{
  font-weight: bold;
}

p{
  font-size: 1.2em;
}

@media screen and (max-width: 40em){
  h1, h2, h3, p.WorkYear{
    text-align: center;
  }

  div.porfolio_grid{
    min-width: 100%;
  }

  html{
    margin: auto; 
  }

  #AboutPic{
    width: 40%;
    height: auto;
  }
}

.ResumeButton {
	background-color:#17252A;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#FEFFFF;
	font-size:1em;
	padding:12px 30px;
}
.ResumeButton:hover {
	background-color:#DEF2F1;
  color:#17252A;
}
.ResumeButton:active {
	position:relative;
	top:1px;
}

/* project */
div.porfolio_grid{
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

a.project_a {
  text-decoration: none;
  font-weight: normal;
  color: inherit;
  padding:0;
}
