
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start styling */
html{
  font-family: 'Tinos', serif;
}

/* Color scheme */
body {
  background-color: #fffcf2;
  color: #2b2d42;
  line-height: 1.4;
}

a:hover {color: #ffbe0b;}

a{
  color: white;
}

.logo {
  color: white;
}

#index_logo{
  color: #245501;
  font-size: 2em;
  font-style: italic;
  font-weight: bold; 
}

#index_nav{
  color: #245501;
}

#index_nav:hover, #index_logo:hover, .SocialButton, .lightbg{
  color: #cc7f0b;
}

a.logo:hover{
  color: #fcf6bd;
}

.nav_links li a::after {
  background-color: #ffbe0b;
}

div.NavContainer{
  background: #245501;
}

h1, h2{
  color: #606c38;
}

footer {
  left: 0;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

/* Nav */
nav {
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red;  */
}

a {
  text-decoration: none;
  display: block;
  position: relative;
  padding: 0.2em 0;
  font-weight: 600;
}

.nav_links{
  list-style: none;
}

.nav_links li{
  display: inline-block;
  padding: 0.5em 0.7em;
}

.nav_links li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.nav_links li a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.nav_links li a:hover::after,
.nav_links li a:focus::after{
  transform: scale(1);
}

.CurrentNav {
  color: #ffbe0b;
}

.logo {
  font-family: 'Tinos', serif;
  font-size: 2em;
  font-style: italic;
  font-weight: bold;  
}

a.logo:hover{
  text-shadow: 2px 2px 4px rgb(24, 23, 23);
}

/* Intro Page */
section.Home{
  display: flex;
  align-items: center;
  text-align: center;
  min-height: 70vh;
  background: url(./Image/IndexBackground.jpg) no-repeat center center fixed; 
  background-size: contain;
  /* background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,#ecf0f3 40%,#ecf0f3 60%, rgba(0,0,0,0) 100%);  */
} 

/*  text animation   */

div.Welcome{
  font-family: 'Rampart One', cursive;
  display: inline-block;
  font-size: 5em;
  font-weight: 900;
  overflow:hidden;
  color: #EDF5E1; 
  text-shadow: 2px 2px 4px black;
  padding-bottom: 10px;
}

div.IntroText{
  font-family: 'Kaushan Script', cursive;
  display: inline-block;
  font-size: 2em;
  overflow:hidden;
  text-align: left;
  padding-left: 30px;
  padding-bottom: 5px;
  color: #EDF5E1; 
}

div.Welcome:first-of-type {  
  animation: showup 8s;
}

div.Welcome:last-of-type {
  width:0px;
  animation: reveal 8s;
}

 div.IntroText:last-of-type span {
  margin-left:-900px;
  animation: slidein 8s;
  margin-left: 0px;
} 

@keyframes showup {
    0% {opacity:0;}
    50% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:1;}
}

@keyframes slidein {
    0% { margin-left:-900px; }
    20% { margin-left:-900px; }
    50% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:1;}
}



/* about page */
#AboutPic{
  border: 0.5em solid white;
  margin-top: 20px;
  width: 60%;
  height: auto;
}

section.About{
  font-size: 1em;
}

ul.Education{
  list-style-type: square;
  padding: 1em;
  font-size: 1.1em;
  line-height: 1.4;
}

.SocialButton {
	border-radius:20px;
	display:inline-block;
	cursor:pointer;
  padding-right: 15px;
}

/* Experience page*/
div.Experience{
  max-width: 45rem;
}

h1{
  border-bottom: 2px solid currentColor;
  padding-bottom: 5px;
  margin-top: 30px;
  display: inline;
}

h1, h2{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5em;
}

h3{
  font-weight: bold;
  font-size: 1.5em;
}

p{
  font-size: 1.2em;
}

@media screen and (max-width: 55em){
  h1, h2, h3, p.WorkYear{
    text-align: center;
  }

  div.porfolio_grid{
    min-width: 100%;
  }

  html{
    margin: auto; 
  }

  #AboutPic{
    width: 40%;
    height: auto;
  }

  nav {
    display: block;
  }

  .logo {
    margin: auto;
    text-align: center;
  }

  .nav_links{
    text-align: center;
    font-size: 1em;
  }

  
  div.Welcome, div.IntroText{
    text-align: center;
    color: #17252A;
  }
  
  section.Home{
    background-image: none;
  }

}

.ResumeButton {
	background-color:#245501;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#FEFFFF;
	font-size:1em;
	padding:12px 30px;
}
.ResumeButton:hover {
	background-color:#DEF2F1;
  color:#17252A;
}
.ResumeButton:active {
	position:relative;
	top:1px;
}

/* project */
div.porfolio_grid{
  max-width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

a.project_a {
  text-decoration: none;
  font-weight: normal;
  color: inherit;
  padding:0;
}

a.project_a:hover {
  opacity: 0.7;
}

h4{
  text-transform: uppercase;
  text-align: center;
  color: #17252A;
  padding: 0.5em 0 0.7em 0;
  font-size: 1.2em;
  font-weight: bold;
}

h5{
  text-transform: uppercase;
  color: #EDF5E1;
  padding: 0.5em 0 0.5em 2px;
  font-size: 1em;
  font-weight: bold;
  background-color: #245501;
}

.ProjectInfo{
  background-color: white;
  border-radius: 5px;
}

.card-body{
  background-color:#245501;
  color: white;
}

#bold_underline{
  font-weight: bold;
  text-decoration: underline;
}

.card-img-top{
  height: 25vh; 
  width: 100%;
  display: block;
}

#PlayButton{
  width: 1.5em;
  vertical-align: middle;
}

a.lightbg{
	display:inline-block;
  font-weight: 500;
}

/* a.lightbg:hover {
  color: #3AAFA9;
} */